In [129]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import re

url = "https://candidat.francetravail.fr/offres/emploi/data-analyst/s28m18"
page = requests.get(url)

soup = bs(page.content, 'html.parser')
soup

france_travail = soup.find_all("li" , class_="result")
france_travail 

titles_clean = []
description_clean = []
type_contrat_clean  = []
adress_clean = []
    
for france_travail in france_travail :
    
    titles_clean.append(france_travail.find("span", class_="media-heading-title").text)
    
    adress_clean.append(france_travail.find('p', class_="subtext").find("span").text)
    
    
    description_clean.append(france_travail.find('p' , class_="description").text)
    
    type_contrat_clean.append(france_travail.find('p', class_="contrat visible-xs").text)

df = pd.DataFrame({"Poste" : titles_clean , "Lieu" : adress_clean , "Description" : description_clean, "Contrat" : type_contrat_clean})
df

,Poste,Lieu,Description,Contrat
0,Alternance - Data Analyst (H/F),74 - CLUSES,Description de l'entreprise\n\nPartenaire de c...,CDD\n - Temps plein
1,Data Analyst (h/f),64 - BORDES,Notre client SAFRNA HELICOPTER ENGINES recherc...,Intérim\n - Temps plein
2,Data analyst,Ile-de-France,ABALON recherche un(e) Data Analyste pour rejo...,CDI\n - Temps plein
3,Data analyst,Ile-de-France,ABALON recherche un(e) Data Analyste pour rejo...,CDI\n - Temps plein
4,Data Analyst H/F (H/F),92 - NEUILLY SUR SEINE,Vous avez un profil de Data Analyst (H/F) ?\n\...,CDI\n - Temps plein
5,Data analyst,33 - BORDEAUX,Nous recherchons un(e) Data Analyst talentueux...,CDI\n - Temps plein
6,"Data Analyst « SAS, BOARD et Dataviz » (H/F)",75 - Paris (Dept.),Mon client est la Direction du Contrôle de Ges...,CDI\n - Temps plein
7,Data analyst,93 - PANTIN,Le data analyst est rattaché à la direction de...,CDI\n - Temps plein
8,DATA ANALYST (H/F),79 - NIORT,Nous recherchons notre DATA ANALYST h/f pour i...,CDI\n - Temps plein
9,ALTERNANT DATA ANALYST (H/F) FPDA24,26 - ST VALLIER,Se présenter au stand DAHER de l'entreprise le...,CDD\n - Temps plein
10,DATA BUSINESS ANALYST (H/F),38 - GRENOBLE,Vous êtes un(e) Data Business Analyst confirmé...,CDI\n - Temps plein
11,UN(e) DATA ANALYST(e) (H/F),33 - BORDEAUX,CRIT bordeaux tertiaire recherche pour son cli...,CDD\n - Temps plein
12,Data analyst,69 - LYON 03,En lien avec l'augmentation de son portefeuill...,CDI\n - Temps plein
13,Data analyst IARD (H/F),93 - NOISY LE SEC,Flash info. Le N°1 français des réseaux de cou...,CDI\n - Temps plein
14,Chargé(e) d'étude - géomaticien / data analyst...,91 - MARCOUSSIS,La Fédération Française de Rugby (FFR) recherc...,CDI\n - Temps plein
15,Data analyst (F/H),12 - RODEZ,"Descriptif de la marque :\nExpectra, votre par...",CDI\n - Temps plein
16,Consultant Data Analyst (H/F),75 - PARIS 17,"Vous partagez notre passion pour les données, ...",CDI\n - Temps plein
17,Data analyst,59 - VILLENEUVE D ASCQ,Qui sommes-nous ?\n\nNous sommes passionnés pa...,CDI\n - Temps plein
18,Procurement Data Analyst Junior (H/F),92 - ST CLOUD,CDS Groupe est le spécialiste français des sol...,CDD\n - Temps plein
19,Data Analyst en alternance (H/F),69 - LYON 08,JOURNEE PORTE OUVERTE LE 09/03 au 29 av Lecler...,CDD\n - Temps plein